
html, body {
  height: 100%;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
h2 {
  font-family: 'Playfair Display', serif;
  color: #666;
  font-weight: 400;
}
p {
  font-family: 'Raleway', sans-serif;
  color: #888;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: #333;
}
.container {
  width: 900px;
  margin: 40px auto;
}
.about, .mywork {
  width: 100%;
  display: flex;
  height: 100%;
}

/* ABOUT */
.about_left {
  background: #3B3B3B;
  width: 50%;
  padding: 30px;
}
header {
  position: fixed;
  display: flex;
  align-items: center;
}
ul.nav {
  width: 100%;
  display: flex;
  color: #aaa;
  align-items: center;
  margin:0 0 0 20px;
}
ul.nav li {
  margin: 0 20px;
  cursor: pointer;
  transition: color .4s ease;
}
ul.nav li.active {
  color: #fff;
}
[id^=]
.about_content {
  height: 100%;
  padding: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
h1.about_title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 58px;
  color: #fff;
}

/* MYWORK */
.mywork {
  transform: translateX(100%);
}
.row {
  width: 100%;
  padding: 20px;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid #eaeaea;
  transition: background .3s ease;
}
.row:nth-child(even) {
  background: #fbfbfb;
}
.row:hover {
  background: #eff8ff;
}
.row.visited {
  opacity: .7;
}
.row__arrow {
  transform: translateX(-50px);
  opacity: 0;
  font-size: 24px;
  color: #0072c2;
  align-self: center;
  margin-left: auto;
  transition: .3s ease;
}
.row:hover .row__arrow {
  transform: translateX(0px);
  opacity: 1;
}
h2.title {
  transition: color .3s ease;
}
.row:hover h2.title {
  color: #333;
}
.row__details {
  width: 100%;
}
.row__details_brief {
  margin: 5px 0 0 0;
}
.row__details_other {
  display: flex;
  width: 100%;
}
.row__details_other__text {
  font-size: 11px;
  color: #bbb;
  text-transform: uppercase;
  width: 100%;
  margin: 20px 0 0 0;
}
.row__details_other__text p {
  font-size: 11px;
  color: #666;
  margin: 2px 0 0 0;
}
.header {
  margin: 40px 0;
  text-align: center;
}
.header__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url('nitinkoli.jpg') no-repeat center center;
  background-size: contain;
  margin: 0 auto;
}
.header__title {
  color: #333;
  margin: 10px 0 5px 0;
}
.header__text {
  font-size: 12px;
  color: #888;
}

@media only screen and (max-width: 960px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
@media only screen and (max-width: 320px) {
  .row__details_other {
    flex-direction: column;
  }
}
