
html, body {
  height: 100%;
}
body {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
h2 {
  font-family: 'Oswald', sans-serif;
  transition: color .3s ease;
  color: #666;
  text-transform: uppercase;
}
p {
  font-family: 'Open Sans', sans-serif;
  color: #888;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: #333;
}
.container {
  width: 900px;
  margin: 40px auto;
}
.row {
  width: 100%;
  padding: 20px;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid #eaeaea;
  transition: background .3s ease;
}
.row:hover {
  background: #fafafa;
}
.row.visited {
  opacity: .7;
}
.row__arrow {
  transform: translateX(-50px);
  opacity: 0;
  font-size: 24px;
  color: #0072c2;
  align-self: center;
  margin-left: auto;
  transition: .3s ease;
}
.row:hover .row__arrow {
  transform: translateX(0px);
  opacity: 1;
}
.row:hover h2 {
  color: #333;
}
.row__details {
  width: 100%;
}
.row__details_brief {
  margin: 5px 0 0 0;
}
.row__details_other {
  display: flex;
  width: 100%;
}
.row__details_other__text {
  font-size: 11px;
  color: #bbb;
  text-transform: uppercase;
  width: 100%;
  margin: 20px 0 0 0;
}
.row__details_other__text p {
  font-size: 11px;
  color: #666;
  margin: 2px 0 0 0;
}
.header {
  margin: 40px 0;
  text-align: center;
}
.header__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url('nitinkoli.jpg') no-repeat center center;
  background-size: contain;
  margin: 0 auto;
}
.header__title {
  font-family: 'Oswald', sans-serif;
  color: #333;
  margin: 10px 0 5px 0;
}
.header__text {
  font-size: 12px;
  color: #888;
}

@media only screen and (max-width: 960px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
@media only screen and (max-width: 768px) {
  .row__details_other {
    flex-direction: column;
    flex: 1;
  }
}
