body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fafafa;
}
ul, li {
  list-style: none;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
  line-height: 1.6;
}
.section {
  display: flex;
  justify-content: center;
}

.container {
  width: 1250px;
}
header {
  margin: 20px 0;
  display: flex;
}
.logo {
  font-size: 1.2em;
  color: #fff;
}
nav {
  margin-left: auto;
}
nav ul {
  display: flex;
}
nav ul li {
  font-size: .8em;
  color: #fff;
  margin: 0 15px;
  opacity: .6;
  cursor: pointer;
  transition: opacity .4s ease;
  padding: 10px 0;
}
nav ul li:hover {
  opacity: 1;
}
nav ul li.social {
  padding: 7px 0 0 0;
  opacity: 1;
}
nav ul li.social:hover svg {
  animation-play-state: running;
}
nav ul li.social svg {
  animation: rotate 7s linear infinite;
  animation-play-state: paused;
  transition: 1s ease;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}


/* SECTION 1 - WELCOME */

.section.home {
  width: 100%;
  height: 100vh;
  background: url('../images/earth-from-space-29-free-wallpaper.jpg') no-repeat center 40%;
  background-size: cover;
}

.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 70vh;
}
h1.welcome_msg {
  font-size: 3em;
  font-weight: 200;
  margin: 50px 0 30px 0;
}
input.search {
  font-size: 1em;
  color: #fff;
  outline: 0;
  border: 0;
  padding: 15px 50px 15px 20px;
  width: 400px;
  background: url('../images/search-icon.png') no-repeat 96% center;
  background-color: rgba(255,255,255,.05);
  background-size: 24px 24px;
  border-radius: 20px;
  transition: background-color .4s ease;
}
input:focus.search {
  background-color: rgba(255,255,255,.1);
}
.play_button {
  margin-top: auto;
  display: flex;
  align-items: center;
}
.play_button svg {
  margin-right: 20px;
}
.play_button_text {
  font-weight: 300;
  font-size: .8em;
}
.play_button_title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin: 3px 0;
}


/* SECTION 2 - STORIES */

.section.stories {
  background: #1c1c1c;
  padding: 100px 0;
}
.about_nasa {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 100px 0;
}
h1.about_nasa_title {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 700;
}
p.about_nasa_brief {
  color: #ccc;
  width: 60%;
  margin: 20px 0;
}

.stories_grid {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 34em;
  flex: 1;
}
.first_col {
  width: 25%;
  /*flex-shrink: 1;*/
  background: #333;
}
.last_col {
  width: 25%;
  /*flex-shrink: 1;*/
  background: #333;
}
.triplet {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.square:first-child {
  margin: 0;
}
.square {
  flex: 1;
  background: #333;
  margin: 0 0 0 20px;
}
.h_rectangle {
  width: 100%;
  background: #444;
  margin: 20px 0 0 0;
}
.card_layer {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: background .4s ease;
  cursor: pointer;
}
.card_layer:hover {
  background: rgba(0,0,0,.2);
}
.grid_column {
  border: 10px solid #1c1c1c;
}
.card_tag {
  font-size: .8em;
  color: #ccc;
  padding: 10px 20px;
  align-self: flex-start;
  background: rgba(0,0,0,.5)
}
.card_title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  margin-top: auto;
  padding: 15px;
}
.card_brief {
  font-size: .8em;
  padding: 0 15px 15px 15px;
}
.stories_grid.squares .grid_column {
  width: 25%;
  height: 17em;
}


.asteroid {
  background: url('../images/asteroid.jpg') no-repeat center center;
  background-size: cover;
}
.aeronautics {
  background: url('../images/aeronautics.jpg') no-repeat center center;
  background-size: cover;
}
.space_station {
  background: url('../images/Soyuz-Approaches-the-Space-Station.jpg') no-repeat center center;
  background-size: cover;
}
.variable_density_tunnel {
  background: url('../images/Variable-Density-Tunnel.jpg') no-repeat center center;
  background-size: cover;
}
.timed {
  background: url('../images/Columbia-In-the-Spotlight.jpg') no-repeat center center;
  background-size: cover;
}
.cassini {
  background: url('../images/cassini.jpg') no-repeat center center;
  background-size: cover;
}
.spirit-and-opportunity {
  background: url('../images/spirit-and-opportunity.jpg') no-repeat center center;
  background-size: cover;
}
.video-thumb {
  background: url('../images/video-thumb.jpg') no-repeat center center;
  background-size: cover;
}

.events {
  padding: 15px;
}