@import url('https://fonts.googleapis.com/css?family=Arimo');

html, body {
  height: 100%;
}
body {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.container {
  display: flex;
  height: 100%;
}
.left_panel {
  width: 18%;
  background: #333;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.logo {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  flex: 1;
  width: 80%;
  margin: 0 0 30px 0;
  text-align: center;
}
.logo__img {
  opacity: .3;
  color: #fff;
}
.logo__img img {
  width: 130px;
}
.logo__copyright {
  font-size: .6em;
  color: #666;
  padding: 3px 0 0 0;
}
.avatar {
  width: 100%;
  margin: 30px 0 0 0;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.avatar__icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #eee;
  background: url('https://uinames.com/api/photos/male/33.jpg') no-repeat center center;
  background-size: contain;
  border: 1px solid #888;
}
.avatar__name {
  align-self: center;
  text-align: center;
  width: 80%;
  font-size: .8em;
  margin: 10px 0 0 0;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.available_balance {
  margin: 30px 0 0 0;
  text-align: center;
  cursor: pointer;
}
.available_balance__title {
  font-size: .6em;
  color: #888;
  padding: 0 0 5px 0;
}
.available_balance__amount {
  font-size: 1.5em;
  color: #f9d831;
}
.available_balance__action {
  font-size: .6em;
  color: #82b1ff;
  padding: 5px 0 0 0;
  opacity: 0;
  transition: opacity .3s ease;
}
.available_balance:hover .available_balance__action {
  opacity: 1;
}
.left_nav {
  margin: 30px 0 0 0;
  background: #444;
}
.left_nav li {
  font-size: .8em;
  color: #888;
  padding: 15px;
  border-bottom: 1px solid #555;
  cursor: pointer;
  transition: color .3s ease;
}
.left_nav li.active {
  color: #eee;
  border-right: 3px solid #e10000;
}
.left_nav li:hover {
  color: #eee;
}
.left_nav i {
  vertical-align: -4px;
  padding: 0 5px 0 0;
}

.right_panel {
  width: 82%;
}
.top_nav {
  height: 40px;
  border-bottom: 1px solid #ccc;
}
